<p id="notice"><%= notice %></p>


<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Filtro do Mrs Ari
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><%= link_to "Esse mês", posts_path %></li>
    <li role="presentation"><%= link_to "Mês passado",posts_path(mes_passado: true),role: "menuitem" ,tabindex: "-1" %></li>
    <li role="presentation"><%= link_to "Ano passado",posts_path(ano_passado: true),role: "menuitem" ,tabindex: "-1" %></li>
  </ul>
</div>


<%= form_tag  search_posts_path , :class => "navbar-form navbar-left",:role => "search", method: :get, remote: true do %>
<%= text_field_tag :data1, params[:data1], class: "form-control ", id: "data1" ,:name => "data1",:placeholder => "inicio" %>
<%= text_field_tag :data2, params[:data2], class: "form-control ", id: "data2" ,:name => "data2",:placeholder => "fim" %>
<button class="btn btn-default" type="submit">ok</button>
<% end %>

<br>
<br>
<br>
<br>
<br>

<div class="container">
<div class="col-sm-12">
  <h4>Listando as postagis..</h4>
  <div id="posts">
    <%= render 'posts/posts' %>
  </div>
  <div id="posts-hide"></div>
  <br>
  <%= link_to 'New Post', new_post_path %>
</div>
</div>

<script type="text/javascript" >
  $('#data1').datetimepicker({
    lang:'pt',
    i18n:{
      pt:{
        months:[
        'Janeiro','Fevereiro','Março','Abril',
        'Maio','Junho','Julho','Agosto',
        'Setembro','Outubro','Novembro','Dezembro',
        ],
        dayOfWeek:[
        "Dom", "Seg", "Ter", "Qua", 
        "Qui", "Sex", "Sáb",
        ]
      }
    },
    timepicker:false,
    format:'d/m/Y'
  });
  $('#data2').datetimepicker({
    lang:'pt',
    i18n:{
      pt:{
        months:[
        'Janeiro','Fevereiro','Março','Abril',
        'Maio','Junho','Julho','Agosto',
        'Setembro','Outubro','Novembro','Dezembro',
        ],
        dayOfWeek:[
        "Dom", "Seg", "Ter", "Qua", 
        "Qui", "Sex", "Sáb",
        ]
      }
    },
    timepicker:false,
    format:'d/m/Y'
  });
</script>